.body{
    -fx-background-color: #ffff;
}

.success{
    -fx-background-color: #F6F6E9;
}

.btn-primary{
    -fx-border-radius: 0;
    -fx-background-color: #F8F9FA;
    -fx-text-fill: #202124;
}

.btn-success{
    -fx-background-color: #ED5B2D;
    -fx-text-fill: #ffff;
}

.txt-primary{
    -fx-text-fill: #202124;
}